.plot-main-div {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #5cdb95, #50ce94, #45c192, #3eb48e, #39a78a, #39a78a, #39a78a, #39a78a, #3eb48e, #45c192, #50ce94, #5cdb95);
}

.plot-main-div #title {
    text-align: center;
    color: black;
    font-size: 50px;
}

.plot-main-div #text {
    margin-top: 140px;
    /* background-color: var(--paletteDarkGreen); */
    width: 45%;
    font-size: 32px;
    /* border: solid; */
}

.plot-main-div #text-style {
    margin: 16px 24px;
    border: solid;
    border-radius: 16px;
    border-color: var(--paletteBlue);
    border-width: 16px;
    background-color: var(--paletteWhite);
    width: 95%;
}

.plot-main-div #image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}

.plot-main-div #plot-image {
    height: 45%;
    width: 80%;
    background-color: var(--paletteBlue);
    padding: 24px;
    border-radius: 24px;
}

.plot-main-div #plot-text {
    color: black;
    margin: 0px 16px;
    margin-bottom: 40px;
}